/* Heml CitationL MDN docs for variables https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_cascading_variables/Using_CSS_custom_properties */
:root {
    --main-bg-color: #AD1414;
    --second-bg-color: #333;
    --main-color: white;
    --second-color: #F45DE7;
    --link-color: #0BEAA0;
}

body {
    background-color: var(--main-bg-color);
    display: flex;
    flex-direction: column;
    margin: 0;
    min-height: 100vh;
    color: var(--main-color);
}

.headNav, .footNav {
    background-color: var(--second-bg-color);
    overflow: hidden;
    min-height: 50px;
}

/* Style the links inside the navigation bar */
/* Help Citation: W3Schools on "making button looking links" https://www.w3schools.com/howto/howto_js_topnav.asp */
.headNav a, .footNav a {
    float: left;
    color: var(--main-color);
    text-align: center;
    padding: 17px;
    text-decoration: none;
    font-size: 17px;
}

.headNav a:hover, .headNav a:hover { /* Different from most links, that I just want white */
    background-color: var(--main-color);
}

.headNav a.active {
    color: var(--main-bg-color);
    background-color: var(--main-color);
}

a:visited, a:hover {
    color: var(--second-color);
}

a {
    color: var(--link-color);
}

.footNav {
    border-top: 1px solid black;
}

.profileMain {
    flex: 1;
    text-align: center;
}

/* Help Citation: StackOverflow helped with sections next to each other https://stackoverflow.com/questions/24964101/how-to-place-two-section-elements-next-to-each-other-using-css */
#profilePic {
    width:400px;
    margin-left:30px;
    float:left;
}

.resumeMain {
    display: grid;
    flex: 1;
    grid-template-rows: repeat(4, auto);
}

.portfolioMain {
    display: grid;
    flex: 1;
    grid-template-rows: repeat(4, auto);
    padding: 30px 30px;
}

.timing {
    float: right;
    margin-right: 30px;
}